:root{
    --text-color: #ffffff;
    --bg-url: url(./assets/Background.png);
    --surfarce-color: rgba(255, 255, 255, 0.1);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg: url(./assets/Moon.svg);
    --switch-hover: rgb(255, 255, 255);
    --box-shadow:  rgba(255, 255, 255, 0.473);
    --color-footer: rgba(255,255,255, 0.5);
}
.Light{
    --text-color:#000000;
    --bg-url: url(./assets/Background-light.jpg);
    --surfarce-color: rgba(0, 0, 0, 0.05);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url(./assets/Sun.svg);
    --switch-hover: rgba(0, 0, 0, 0.692);
    --box-shadow:  rgba(0, 0, 0, 0.384);
    --color-footer: rgb(0, 0, 0);
}
.Minha{
    --text-color:#1cbad6;
    --bg-url: url(./assets/Solo.jpg);
    --surfarce-color: rgba(0, 0, 0, 0.8);
    --stroke-color: rgba(0, 0, 0, 0.01);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.2);
}
body{
    background: var(--bg-url) no-repeat center top / cover;
    height: 100vh;
}
body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
#container{
    width: 360px;
    max-width: 788px;
    height: 712px;
    margin: 56px auto;
    padding: 0 24px;
}
#profile p{
    font-weight: 700;
}
#profile img{
    width: 112px;
    height: 112px;
}
/*Trocar tema*/
#switch{
    width: 64px;
    position: relative;
    margin: 4px auto;
}
#switch button{
    cursor: pointer;
    height: 32px;
    width: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    box-shadow: 0 0 10px var(--box-shadow);
    animation: slide-back 0.5s forwards;
}
#switch button:hover{
    transition: box-shadow 0.2s ease-out;
    box-shadow: 0 0 10px var(--switch-hover);  
}
#switch span{
    display: block;
    border: solid 1px var(--stroke-color);
    background: var(--surfarce-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 64px;   
    height: 24px;
}
.Light #switch button{
    animation: slide-in 0.5s forwards;
   
}
#profile{
    text-align: center;
    padding: 24px;
}
#links{
    width: 360px;
    height: 320px;
    text-align: center;
    margin-top: -9px;
}
#links ul{
    list-style: none;
    padding: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul li a{
    display: block;
    width: 312px;
    height: 56px;
    line-height: 55px;
    text-decoration: none;
    border: solid 1px grey;
    border-radius: 10px;
    background: var(--surfarce-color);
    
}
ul li a:hover{
    transition: background 0.3s ease, border 0.3s ease;
    background: var(--surface-color-hover);
    border: solid 1.9px var(--text-color);
}
#socials{
    display: block;
    width: 306px;
    height: 56px;
    text-align: center;
    margin-top: 14px;
    padding: 24px;
}
#socials ul{
    list-style: none;
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: xx-large;
}
#socials ul a{
    display: flex;
    border-radius: 50%;
    padding: 16px;
}
#socials ul a:hover{
    transition: background 0.2s ease;
    background: var(--highlight-color);
}
footer p{
    text-align: center;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-footer);
}
@media (min-width: 700px){
    :root {
        --bg-url: url(./assets/Background-desktop-dark.jpg);
    }

    .Light{
        --bg-url: url(./assets/Background-desktop-light.jpg);
    }
}
@keyframes slide-in {
    from {
        left:0;
    }
    to{
        left: 55%;
    }
}
@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}